*{
margin: 0;
padding: 0;
font-family: 'Ubuntu', sans-serif;
}

header{
	 background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/header-img.jpg);
	 height: 100vh;
	 background-size: cover;
	 background-position: center;
}

.main{
	max-width: 1200px;
	margin: auto;
}

header div ul 
{
	float: right;
	list-style-type: none;
	margin: 25px;
}

header div ul li{
	display: inline-block;

}

header div ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent ;
	transition: 0.6s ease;
}

header div ul li a:hover
{
	background-color: #000;
	color: #fff;
}

header div ul li.active a{
	background-color: #000;
	color: #fff;
}
.logo img{
	float: left;
	width: auto;
	height: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 40px;
	text-align: center;


}

.title h3
{
	color: #fff;
	text-align: center;
}

/* About */
.about-mca {
	float: center;

}

.content-data
{
	text-align: center;

}

.about-mca table
{
	text-align: -webkit-center;
}

.about-mca h2 {

	text-align: center;
}

.about-mca .info-card{
	float: : center;
	margin : 15px 50px 15px 50px;
	border-radius: 0px;
	padding: 0 50px 0 50px;
	background: #fff;
	overflow: hidden;
	box-sizing: border-box;
	color: #333;
	
}
/* Label */
.parent {
	position: relative;
	float: center;
    border-bottom:2px solid red;
    width: 400px;
    height:9px;
}

.label {
    margin-left: 40px;
    display:inline-block;
    height: 50px;
    background:#fff;
}



/* End Label */

/* box */

 .container 
{
		position: relative;	
		top: 	50%;
		left: 	38%;
		margin-bottom: 350px;
		transform: 	translate(-50% , 50%);
		width: 	1000px;
		height: 500px;
		display: flex;	 
}

.container .box
{
	text-align: center;
	position: relative;
	width: 250px;
	height: 500px;
	background: #ccc;
	transition: 0.5s;
}
.container .box:hover
{
	transform: scale(1.1);
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,1);
}
.container .box .thumb
{
	position: absolute;
	width: 100%;
	height: 250px;
	
}
.container .box:nth-child(odd) .thumb
{
	bottom: 0;
	left: 0;
}

.container .box .thumb img
{
	width: 100%;
}

.container .box .details
{
	position: absolute;
	width: 100%;
	height: 250px;
	background: #262626;
}
.container .box:nth-child(even) .details
{
	bottom: 0;
	left: 0;
}
.container .box:nth-child(1) .details
{
	background: #8553cb;
}
.container .box:nth-child(2) .details
{
	background: #fe8f01;
}
.container .box:nth-child(3) .details
{
	background: #79d400;
}
.container .box:nth-child(4) .details
{
	background: #ff3b34;
}

.container .box .details .content {
	position: absolute;
	top: calc(50% + 16px);
	transform: translateY(-50%);
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	transition: 0.5s;
}
.container .box:hover .details .content
{
	top: calc(50%);
}
.container .box .details .content  .fa
{
	font-size: 80px;
	color: #fff;
}

.container .box .details .content h3
{
	margin: 0;
	padding: 0;
	padding: 10px 0 ;
	color: #fff;
}

.container .box .details .content a
{
	display: inline-block;
	padding: 5px 20px;
	color: #fff;
	border: 2px solid #fff;
	text-decoration: none;
	transition: 0.5s;
	border-radius: 20px;
	transform: scale(0);


}

.container .box:hover .details .content a
{
	transform: scale(1);

}

.container .box .details .content a:hover
{
	background: #fff;
	color: #262626;
}

/* footer */

.footer-main-div
{
	position: absolute;
	padding-top: 50px;
	width: 100%;
	height: auto;
	margin: auto;
	background: #272727;
	padding: 30px 0px;
	min-height: 40%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */

}

.footer-social-icons{
	width: 100%;
	height: auto;
	margin:auto;
}

.footer-social-icons ul
{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.footer-social-icons ul li
{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background-color: #32CD32;
}
.footer-social-icons ul li a 
{
	color: #272727;
	font-size: 25px;

}
.footer-social-icons ul li a i
{
line-height: 50px;
}
.footer-social-icons ul li:hover
{
background: #f00;
}

.footer-menu-one
{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 25px;
}
.footer-menu-one ul
{
 	margin: 0px;
 	padding: 0px;
 	text-align: center; 
 }

.footer-menu-one ul li
{
	display: inline-block;
	margin: 0px 15px;
}
.footer-menu-one ul li a
{
font-family: arial;
font-size: 15px;
font-weight: 600;
color: #fff;
letter-spacing: 1px;
text-transform: uppercase;
}
.footer-menu-one ul li a:hover
{
	color: #272727;
}
.footer-menu-two
{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 10px;
}
.footer-menu-two ul
{
 	margin: 0px;
 	padding: 0px;
 	text-align: center; 
 }

.footer-menu-two ul li
{
	display: inline-block;
	margin: 0px 20px;
}
.footer-menu-two ul li a
{
font-family: arial;
font-size: 15px;
font-weight: 600;
color: #fff;
letter-spacing: 1px;
text-transform: uppercase;
}
.footer-menu-two ul li a:hover
{
	color: #272727;
}

.footer-bottom
{
	width: 100%;
	height: auto;
	margin: auto;
	background: #32CD32;
	padding: 5px;
}

.footer-bottom p
{
	font-family: arial;
	font-size: 14px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
}
.footer-bottom p a
{
	color: #fff;
}
.footer-bottom p a:hover
{
	color: #272727;
}